* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  font-family: sans-serif;
}

.center {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
